<div class="float-right">
  <button class="btn btn-success float-right" routerLink="/patient/new">Novo Paciente</button>
</div>
<table class="table table-bordered table-sm">
  <thead>
      <tr>
          <th>Nome</th>
          <th>Data de Nascimento</th>
          <th>CPF</th>
          <th>Endereço</th>
          <th>Telefone</th>
          <th>Data de Ingresso</th>
          <th>Local da Doença</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let patient of patientService.patients">
          <td><a [routerLink]="['/patient', patient._id, 'details']">{{patient.name}}</a></td>
          <td>{{patient.dateOfBirth | date:"dd/MM/yy"}}</td>
          <td>{{patient.cpf}}</td>
          <td>{{patient.address}}</td>
          <td>{{patient.phoneNumber}}</td>
          <td>{{patient.entryDate | date:"dd/MM/yy"}}</td>
          <td>{{patient.disease}}</td>
          <td>
              <a class="btn" (click)="onDelete(patient._id,patientForm)">
                  <i class="material-icons">delete</i>
              </a>
          </td>
      </tr>
  </tbody>
</table>

<!--
<table class="responsive-table highlight">
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Office</th>
        <th>Office</th>
        <th>Office</th>
        <th>Office</th>
        <th></th>
      </tr>
    </thead>
    <tr *ngFor="let patient of patientService.patients">
      <td>{{patient.name}}</td>
      <td>{{patient.dateOfBirth}}</td>
      <td>{{patient.disease}}</td>
      <td>{{patient.entryDate}}</td>
      <td>{{patient.cpf}}</td>
      <td>{{patient.address}}</td>
      <td>{{patient.phoneNumber}}</td>
      <td>
          <a class="action-btn" (click)="onEdit(patient)">
            <i class="material-icons">edit</i>
          </a>
          <a class="action-btn" (click)="onDelete(patient._id,patientForm)">
            <i class="material-icons">delete</i>
          </a>
        </td>
    </tr>
  </table>-->