
<div id="patientListContainer">
    <div class="row">
        <div class="col">
            <div class="card liga-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <input type="text" id="searchPatients" class="form-control mb-4" placeholder="Search"/>
                        </div>
                        <div class="col-lg-9 col-md-8">
                            <button class="btn btn-info" routerLink="/patient/new"><i class="fas fa-user-plus"> Novo Paciente</i>  </button>
                        </div>

                    </div>
                    <table class="table table-responsive-sm patient-table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Data de Nascimento</th>
                                <th>CPF</th>
                                <th>Endereço</th>
                                <th>Telefone</th>
                                <th>Data de Ingresso</th>
                                <th>Local da Doença</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let patient of patientService.patients">
                                <td><a [routerLink]="['/patient', patient._id, 'details']">{{patient.name}}</a></td>
                                <td>{{patient.dateOfBirth | date:"dd/MM/yyyy"}}</td>
                                <td>{{patient.cpf}}</td>
                                <td>{{patient.address}}</td>
                                <td>{{patient.phoneNumber}}</td>
                                <td>{{patient.entryDate | date:"dd/MM/yyyy"}}</td>
                                <td>{{patient.disease}}</td>
                                <td>
                                    <a class="btn btn-sm  btn-outline-danger" (click)="onDelete(patient._id,patientForm)">
                                        <i class="far fa-trash-alt"> Excluir</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

