<!--<nav class="d-md-block sidebar liga-sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link font-weight-bold active" href="#">
          Pacientes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="#">
          Voluntários
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="#">
          Dashboard
        </a>
      </li>
    </ul>
  </div>
</nav>-->

<div id="covid-sidebar-wrapper" class="d-md-block sidebar liga-sidebar">
  <div class="px-4 pt-4 pb-2">
      <ul class="list-unstyled">
          <li class="active"><a href="#"><i class="fas fa-globe"></i>&nbsp; Pacientes</a></li>
          <li><a href="#"><i class="fas fa-chart-bar"></i>&nbsp; Voluntários</a></li>
          <li><a href="#"><i class="fas fa-chart-bar"></i>&nbsp; Dashboard</a></li>
          <li><a href="#"><i class="fas fa-cog"></i>&nbsp; Configuração</a></li>
      </ul>
  </div>
</div>


