<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    Kenneth Valdez
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    fip@jukmuh.al
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    (239) 816-9029
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Mobile</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    (320) 380-4539
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Address</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    Bay Area, San Francisco, CA
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#financial" data-toggle="tab" class="nav-link active">Financeiro</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#visits" data-toggle="tab" class="nav-link">Visitas</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#map" data-toggle="tab" class="nav-link">Mapa</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="financial">

                    Tabela financeira
                </div>
                <div class="tab-pane" id="visits">
                    Visitas
                </div>
                <div class="tab-pane" id="map">
                    Mapa Google
                </div>
            </div>
        </div>
    </div>
</div>