<div id="patientDetailContainer" >
    <div class="row">
        <div class="col">
            <div class="card liga-card">
                <div class="card-body">
                    <div class="row mb-5">
                        <div class="col-md-12 ">

                            <div class="row mb-3">
                                <div class="col-sm-9">
                                    <input [hidden]="!editMode" type="text" [(ngModel)]="patientService.selectedPatient.name" class="form-control">
                                    <h2 [hidden]="editMode">{{patientService.selectedPatient?.name}}</h2>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-info float-right" [hidden]="editMode"
                                    (click)="editMode = !editMode"><i class="fas fa-pencil-alt"></i></button>
                                    <button class="btn btn-light float-right" [hidden]="!editMode"
                                        (click)="editMode = !editMode">Cancelar</button>
                                    <button class="btn btn-info float-right" [hidden]="!editMode"
                                        (click)="onSaveChanges()">Salvar</button>
                                </div>                                
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 font-weight-bold">Data de Nascimento</h6>
                                </div>
                                <div class="col-sm-3 text-secondary">
                                    <input [hidden]="!editMode" type="date" [ngModel]="patientService.selectedPatient.dateOfBirth | date:'yyyy-MM-dd'" (ngModelChange)="patientService.selectedPatient.dateOfBirth = $event" class="form-control">
                                    <span [hidden]="editMode">{{patientService.selectedPatient?.dateOfBirth | date:'dd/MM/yyyy'}}</span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 font-weight-bold">CPF</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input [hidden]="!editMode" type="text" [(ngModel)]="patientService.selectedPatient.cpf" class="form-control">
                                    <span [hidden]="editMode">{{patientService.selectedPatient?.cpf}}</span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 font-weight-bold">Endereço</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input [hidden]="!editMode" type="text" [(ngModel)]="patientService.selectedPatient.address" class="form-control">
                                    <span [hidden]="editMode">{{patientService.selectedPatient?.address}}</span>

                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 font-weight-bold">Telefone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input [hidden]="!editMode" type="text" [(ngModel)]="patientService.selectedPatient.phoneNumber" class="form-control">
                                    <span [hidden]="editMode">{{patientService.selectedPatient?.phoneNumber}}</span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 font-weight-bold">Data de Ingresso</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input [hidden]="!editMode" type="date" [ngModel]="patientService.selectedPatient.entryDate | date:'yyyy-MM-dd'" (ngModelChange)="patientService.selectedPatient.entryDate = $event" class="form-control">
                                    <span [hidden]="editMode">{{patientService.selectedPatient?.entryDate | date:'dd/MM/yyyy'}}</span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 font-weight-bold">Local da Doença</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input [hidden]="!editMode" type="text" [(ngModel)]="patientService.selectedPatient.disease" class="form-control">
                                    <span [hidden]="editMode">{{patientService.selectedPatient?.disease}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <h2 class="float-left">Financeiro</h2>
                                <button class="btn btn-sm btn-info float-right" 
                                (click)="editMode = !editMode"><i class="fas fa-pencil-alt"></i></button>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                                    id="dropdownMenuButton" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    2020
                                                </button>
                                                
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#">2019</a>
                                                    <a class="dropdown-item" href="#">2018</a>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col">Jan</th>
                                        <th scope="col">Fev</th>
                                        <th scope="col">Mar</th>
                                        <th scope="col">Abr</th>
                                        <th scope="col">Mai</th>
                                        <th scope="col">Jun</th>
                                        <th scope="col">Jul</th>
                                        <th scope="col">Ago</th>
                                        <th scope="col">Set</th>
                                        <th scope="col">Out</th>
                                        <th scope="col">Nov</th>
                                        <th scope="col">Dez</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of financialDataObject | keyvalue">
                                        <th scope="row">{{item.key}}</th>   
                                        
                                        <td *ngFor="let list of item.value">R${{list.value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Mapa</h2>
                            <agm-map [latitude]="latitude" [zoom]="zoom" [longitude]="longitude">
                                <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                            </agm-map>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>