<div>
    <form #patientForm="ngForm" (ngSubmit)="onSubmit(patientForm)"></form>
    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="patientService.selectedPatient._id">
    <div class="row">
        <div class="input-field col s12">
            <input type="text" name="name" #name="ngModel" [(ngModel)]="patientService.selectedPatient.name"
                placeholder="Enter full name" required>
            <label>Name :
                <label class="red-text">*</label>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input type="text" name="position" #name="ngModel" [(ngModel)]="patientService.selectedPatient.cpf"
                placeholder="Eg : Snr. Developer">
            <label>Position :</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input type="date" name="office" #name="ngModel" [(ngModel)]="patientService.selectedPatient.dateOfBirth"
                placeholder="Enter office location">
            <label>Office :</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input type="text" name="salary" #name="ngModel" [(ngModel)]="patientService.selectedPatient.phoneNumber"
                placeholder="Salary per annum">
            <label>Salary :</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input type="text" name="salary" #name="ngModel" [(ngModel)]="patientService.selectedPatient.address"
                placeholder="Salary per annum">
            <label>Salary :</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input type="date" name="salary" #name="ngModel" [(ngModel)]="patientService.selectedPatient.entryDate"
                placeholder="Salary per annum">
            <label>Salary :</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input type="text" name="salary" #name="ngModel" [(ngModel)]="patientService.selectedPatient.disease"
                placeholder="Salary per annum">
            <label>Salary :</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <button class="btn btn-custom right" type="button" (click)="resetForm(patientForm)">Reset</button>
            <button class="btn btn-custom right" type="submit" [disabled]="!patientForm.valid">Submit</button>
        </div>
    </div>
</div>



<div>
    <table class="responsive-table highlight">
        <thead>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Office</th>
            <th>Office</th>
            <th>Office</th>
            <th>Office</th>
            <th></th>
          </tr>
        </thead>
        <tr *ngFor="let patient of patientService.patients">
          <td>{{patient.name}}</td>
          <td>{{patient.dateOfBirth}}</td>
          <td>{{patient.disease}}</td>
          <td>{{patient.entryDate}}</td>
          <td>{{patient.cpf}}</td>
          <td>{{patient.address}}</td>
          <td>{{patient.phoneNumber}}</td>
          <td>
              <a class="action-btn" (click)="onEdit(patient)">
                <i class="material-icons">edit</i>
              </a>
              <a class="action-btn" (click)="onDelete(patient._id,patientForm)">
                <i class="material-icons">delete</i>
              </a>
            </td>
        </tr>
      </table>
</div>